.serviceSection {
  .serviceContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 1.5rem;
  }

  // REPONSIVE
  @media (max-width: 1400px) {
    .serviceContent {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 1200px) {
    .serviceContent {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 600px) {
    .serviceContent {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
h3 {
  margin-bottom: 2rem;
}
