* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #374151;
}

body,
html {
  margin: 0 auto;
  padding: 0 0;
  font-family: "Roboto", sans-serif;
  line-height: 1;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

ul,
ol {
  list-style: none;
}

img,
span {
  display: inline-block;
}

h1 {
  text-align: center;
}

input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #c1c8d3;
  background-color: #fff;
  min-width: 20rem;
}

.container {
  padding: 4rem;
  &.container-border-top {
    border-top: 1px solid #e4e9f1;
  }

  // REPONSIVE
  @media (max-width: 1020px) {
    padding: 2rem;
  }

  @media (max-width: 400px) {
    padding: 1rem;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 3.5rem;
}
