// COLORS
$heroBackground: linear-gradient(180deg, #0baddf, #02719c);
$primary-color: #90d81d;
$primary-light-color: #f0fddc;
$primary-dark-color: #84cc16;
$blue-light-color: #e0f2fe;
$plain-text-grey: #6c757d;
