.searchBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
  .input {
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    width: 50%;
    font-size: 1rem;
    height: 4rem;
    &:focus {
      border: 2px solid $primary-color;
    }
  }
  .btn {
    background-color: $primary-color;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      background-color: $primary-dark-color;
    }
  }
  img {
    width: 1.2rem;
  }

  // REPONSIVE
  @media (max-width: 600px) {
    .input {
      height: 3.4rem;
    }
    .btn {
      width: 3.4rem;
      height: 3.4rem;
    }
  }

  @media (max-width: 400px) {
    .input {
      height: 3.2rem;
      min-width: 70%;
    }
    .btn {
      width: 3.2rem;
      height: 3.2rem;
    }
  }
}
