.btn {
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  align-self: flex-start;
  &.btnPrimary {
    background-color: #90d81d;
    color: #fff;
    &:hover {
      background-color: #84cc16;
    }
  }
  &.btnSecondary {
    background-color: #616161;
    color: #fff;
    &:hover {
      background-color: #4d4d4d;
    }
  }
  &.btnFull {
    background-color: #90d81d;
    color: #fff;
    width: 100%;
    &:hover {
      background-color: #84cc16;
    }
  }
  &[disabled] {
    background-color: #c5c4c4 !important;
    color: #374151;
    cursor: not-allowed;
  }
}
